{{#cc-fieldset as |fs|}}
  <div class="compound-component
              {{if (or isFocused errorState) 'compound-component--active'}}
              {{if errorState 'compound-component--error'}}
              {{if (and hasValue (not isFocused) (not errorState)) 'compound-component--show-value'}}">
    <div class="compound-component__label" {{action "focusIn"}}>
      Home Address
    </div>
    <div class="compound-component__fields">
      <div class="compound-component__field compound-component__field--street">
        {{#fs.field as |f|}}
          {{#f.label}}
            Home Address
          {{/f.label}}
          {{f.input
            value=street
            onFocusIn=(action "onFocusIn")
            onFocusOut=(action "onFocusOut")}}
        {{/fs.field}}
      </div>

      <div class="compound-component__field compound-component__field--suite">
        {{#fs.field as |f|}}
          {{#f.label}}
            Apt Site (Optional)
          {{/f.label}}
          {{f.input
            value=suite
            onFocusIn=(action "onFocusIn")
            onFocusOut=(action "onFocusOut")}}
        {{/fs.field}}
      </div>

      <div class="compound-component__field compound-component__field--zip-code">
        {{#fs.field as |f|}}
          {{#f.label}}
            Zip Code
          {{/f.label}}
          {{f.input
            value=zip
            onFocusIn=(action "onFocusIn")
            onFocusOut=(action "onFocusOut")}}
        {{/fs.field}}
      </div>

      <div class="compound-component__field compound-component__field--city">
        {{#fs.field as |f|}}
          {{#f.label}}
            City
          {{/f.label}}
          {{f.input
            value=city
            onFocusIn=(action "onFocusIn")
            onFocusOut=(action "onFocusOut")}}
        {{/fs.field}}
      </div>

      <div class="compound-component__field compound-component__field--state">
        {{#fs.field as |f|}}
          {{#f.label}}
            State
          {{/f.label}}
          {{f.input
            value=state
            onFocusIn=(action "onFocusIn")
            onFocusOut=(action "onFocusOut")}}
        {{/fs.field}}
      </div>
    </div>
    <div class="compound-component__value"  {{action "focusIn"}}>
      {{#fs.field as |f|}}
        {{#f.label}}
          Home Address
        {{/f.label}}
        {{suite}} {{street}} <br />
        {{city}} {{state}} {{zip}}
      {{/fs.field}}
    </div>

    {{cc-error-message error=errorState.message}}

    {{#cc-tooltip class="compound-component__tooltip"}}
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia ipsum quis risus finibus, in luctus arcu molestie. Suspendisse tincidunt urna odio, id iaculis nisi cursus gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac <a href="#">turpis egestas</a>.
    {{/cc-tooltip}}
  </div>
{{/cc-fieldset}}
