{{#cc-fieldset as |fs|}}
  <div class="compound-component
              {{if (or isFocused errorState value) 'compound-component--active'}}
              {{if errorState 'compound-component--error'}}">
    <div class="compound-component__label" {{action "focusIn"}}>
      Total Annual Income
    </div>
    <div class="compound-component__fields">
      <div class="compound-component__field">
        {{#fs.field as |f|}}
          {{#f.label}}
            Total Annual Income
          {{/f.label}}
          {{f.input
            value=conditionalValue}}
        {{/fs.field}}
      </div>
    </div>

    {{cc-error-message error=errorState.message}}

    {{#cc-tooltip class="compound-component__tooltip"}}
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia ipsum quis risus finibus, in luctus arcu molestie. Suspendisse tincidunt urna odio, id iaculis nisi cursus gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac <a href="#">turpis egestas</a>.
    {{/cc-tooltip}}
  </div>
{{/cc-fieldset}}
