{{#cc-fieldset as |fs|}}
  <div class="compound-component
              {{if (or isFocused errorState) 'compound-component--active'}}
              {{if errorState 'compound-component--error'}}
              {{if (and hasValue (not isFocused) (not errorState)) 'compound-component--show-value'}}">
    <div class="compound-component__label" {{action "focusIn"}}>
      Full Name
    </div>
    <div class="compound-component__fields">
      <div class="compound-component__field compound-component__field--first-name">
        {{#fs.field as |f|}}
          {{#f.label}}
            First Name
          {{/f.label}}
          {{f.input
            value=firstName
            onFocusIn=(action "onFocusIn")
            onFocusOut=(action "onFocusOut")}}
        {{/fs.field}}
      </div>

      <div class="compound-component__field compound-component__field--middle-name">
        {{#fs.field as |f|}}
          {{#f.label}}
            MI
          {{/f.label}}
          {{f.input
            value=middleName
            onFocusIn=(action "onFocusIn")
            onFocusOut=(action "onFocusOut")}}
        {{/fs.field}}
      </div>

      <div class="compound-component__field compound-component__field--last-name">
        {{#fs.field as |f|}}
          {{#f.label}}
            Last Name
          {{/f.label}}
          {{f.input
            value=lastName
            onFocusIn=(action "onFocusIn")
            onFocusOut=(action "onFocusOut")}}
        {{/fs.field}}
      </div>
    </div>
    <div class="compound-component__value"  {{action "focusIn"}}>
      {{#fs.field as |f|}}
        {{#f.label}}
          Full Name
        {{/f.label}}
        {{f.input
          value=(concat firstName (if middleName " ") middleName " " lastName)
          disabled=true}}
      {{/fs.field}}
    </div>

    {{cc-error-message error=errorState.message}}
  </div>
{{/cc-fieldset}}
