{{#cc-fieldset as |fs|}}
  <div class="compound-component
              {{if (or isFocused errorState value) 'compound-component--active'}}
              {{if errorState 'compound-component--error'}}">
    <div class="compound-component__label" {{action "focusIn"}}>
      Date of Birth
    </div>
    <div class="compound-component__fields">
      <div class="compound-component__field">
        {{#fs.field as |f|}}
          {{#f.label}}
            Date of Birth
          {{/f.label}}
          {{f.input
            value=value
            onFocusIn=(action "onFocusIn")
            onFocusOut=(action "onFocusOut")}}
        {{/fs.field}}
      </div>
    </div>

    {{cc-error-message error=errorState.message}}
  </div>
{{/cc-fieldset}}
